.app-form {
    width: 100%;
}

.app-background {
    background-color: #ebebeb;
}

.app-full-width {
    width: 100%;
}

.app-card {
    width: 100%;
    padding: 10px;
}

.app-main-div {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-textArea {
    margin-top: 20px;
    overflow: hidden;
}
