<div class="app-background">
  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
      <div class="app-main-div">
        <mat-card class="app-card">
          <mat-card-content>
            <mat-form-field #fileTextForm class="app-full-width">
              <button mat-raised-button color="primary" (click)="fileInput.click()">
                <mat-icon>library_add</mat-icon>
                <span> Select</span>
                <input #fileInput type="file" (click)="fileInput.value = null" value="" (change)="fileUpload($event)"
                  style="display:none;" />
              </button>
              <textarea class="app-textArea" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                [(ngModel)]="fileText" readonly></textarea>
            </mat-form-field>
            <textarea class="app-textArea" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
              [(ngModel)]="finalOutput" readonly></textarea>
            <section>
              <table>
                <tr *ngFor="let row of board; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
                  <td class="field" *ngFor="let field of row">
                    {{field}}
                  </td>
                </tr>
              </table>
            </section>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" style="margin:10px;" (click)="startGame()"
              [disabled]="!fileText">Start the hunt!</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>